body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.textarea {
  width: 100%;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.h1 {
  margin-bottom: 10px;
}

.form-example {
  border: 1px solid black;
  padding: 10px;
}

.form-example:nth-child(n + 2) {
  margin-top: 20px;
}

.h2 {
  color: #0175ff;
  margin-bottom: 10px;
}
